span.submit {
  cursor: default;
  border-radius: 10px;
  bottom: 1em;
  right: 1em;
  font-size: 1em;
  position: fixed;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.83);
  color: white;
  &:hover {
    color: black;
    background-color: white;
    border: 1px solid;
  }
}
.link-button {
  height: 4em;
  padding: 1em;
  background-color: $light-opacity;
  border: 2px solid;
  border-radius: 5px;
  .text {
    display: none;
  }
  &.right {
    .text {
      float: left;
    }
  }
  &.left {
    .text {
      float: right;
    }
  }
  &:hover {
    .text {
      display: inline-block;
      font-size: 1.2em;
      margin: 0 5px;
    }
  }
}
div.start-index {
  .circles {
    position: fixed;
    bottom: 0;
    left: calc(50% - 40px);
    height: 2em;
  }
  .link-right {
    position: fixed;
    bottom: 50%;
    right: 0;
  }
  .link-left {
    position: fixed;
    bottom: 50%;
    left: 0;
  }
}
.plus-icon-svg,
.close-icon-svg {
  height: 1.5em;
  stroke: black;
  stroke-width: 5;
  &:hover {
    stroke-width: 10;
  }
}
.expand-icon-svg {
  height: 1em;
  width: 1em;
}
.expand-icon-path {
  stroke-linejoin: round;
  stroke-linecap: round;
}
span.close {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 0.5em;
  right: 0.5em;
}
div.openarestaurant {
  .button {
    margin: auto 5px;
  }
  text-align: center;
  margin: 1em;
}
div.restaurants-map {
  position: relative;
  #map {
    position: fixed;
    height: 100%;
    width: 100%;
  }
  #form {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid;
    border-radius: 5px;
    margin: 1em;
    text-align: left;
    padding: 1em;
    position: fixed;
    z-index: 1;
    input {
      text-align: left;
      background-color: $light-opacity;
      margin: 0.3em;
    }
  }
  .form {
    color: black;
  }
  .submit-button {
    cursor: pointer;
    position: absolute;
    bottom: 1em;
    right: 1em;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.4em;
  }
}
.settings {
  .setting {
    display: inline-block;
    .text {
      float: left;
      margin: 0 5px;
    }
  }
  max-width: 80%;
  margin: auto;
}
